Repository hmcts/pcq-loader, pull requests merged in 2020-09, with the labels that each got.

#21 Pcq 578 payload to schema mapping
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelper.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadValidationHelper.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqAnswerRequest.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqAnswers.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqMetaData.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqPayLoad.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqPayloadContents.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqScannableItems.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/utils/PcqLoaderUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/config/TestSupportUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/AssertionUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/PcqLoaderUtilsTest.java
  src/test/resources/testPayloadFiles/disabilityNoneMetaFile.json
  src/test/resources/testPayloadFiles/invalidDobMetaFile.json
  src/test/resources/testPayloadFiles/invalidOtherValuesMetaFile.json
  src/test/resources/testPayloadFiles/multipleEthnicityMetaFile.json
  src/test/resources/testPayloadFiles/multipleReligionMetaFile.json
  src/test/resources/testPayloadFiles/noScannableItemsMetaFile.json
  src/test/resources/testPayloadFiles/successMetaFile.json
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-21

#24 PCQ-574 Get documents from blob storage 2
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  docker-compose.yml
  infrastructure/storage-account.tf
  src/.DS_Store
  src/functionalTest/java/uk/gov/hmcts/reform/pcqloader/postdeploy/PcqLoaderFunctionalTest.java
  src/functionalTest/resources/BlobTestFiles/1579002492_31-08-2020-11-35-10.zip
  src/functionalTest/resources/BlobTestFiles/1579002493_31-08-2020-11-48-42.zip
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManagerTest.java
  src/integrationTest/resources/BlobTestFiles/1579002492_31-08-2020-11-35-10.zip
  src/integrationTest/resources/BlobTestFiles/1579002493_31-08-2020-11-48-42.zip
  src/main/.DS_Store
  src/main/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/config/BlobStorageProperties.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManager.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponentTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManagerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/BlobStorageInitialisation.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-24

#25 PCQ-575 Copy blobs to local storage
  build.gradle
  src/functionalTest/resources/BlobTestFiles/1579002492_31-08-2020-11-35-10.zip
  src/functionalTest/resources/BlobTestFiles/1579002493_31-08-2020-11-48-42.zip
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManagerTest.java
  src/integrationTest/resources/BlobTestFiles/1579002492_31-08-2020-11-35-10.zip
  src/integrationTest/resources/BlobTestFiles/1579002493_31-08-2020-11-48-42.zip
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/blobTestFiles/1579002492_31-08-2020-11-35-10.zip
  src/integrationTest/resources/blobTestFiles/1579002493_31-08-2020-11-48-42.zip
  src/main/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/config/BlobStorageProperties.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/exceptions/BlobProcessingException.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManager.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/utils/FileUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponentTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManagerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/BlobStorageInitialisation.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/FileUtilsTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-25

#26 PCQ-576 Unzip required zip files from blob storage
  src/.DS_Store
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/utils/ZipFileUtilsTest.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/exceptions/ZipProcessingException.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManager.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/utils/FileUtils.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/utils/ZipFileUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManagerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/FileUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/ZipFileUtilsTest.java
  src/test/resources/testZipFiles/1579002492_31-08-2020-11-35-10.zip
  src/test/resources/testZipFiles/1579002493_31-08-2020-11-35-ERROR.zip
Labels: do not merge, ns:pcq, prd:pcq, rel:pcq-loader-pr-26

#29 PCQ-653: Updated rules for AKS access.
  infrastructure/aat.tfvars
  infrastructure/storage-account.tf
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-29

#30 PCQ-653: Updated rules for AKS access.
  infrastructure/storage-account.tf
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-30

#31 Pcq 653 add blob storage aks access for bulk scan
  infrastructure/providers.tf
  infrastructure/variables.tf
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-31

#32 PCQ-653: Updated rules to add preview.
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/providers.tf
  infrastructure/storage-account.tf
  infrastructure/variables.tf
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-32

#33 PCQ-653: Updated rules to add preview.
  infrastructure/storage-account.tf
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-33

#34 PCQ-653: Updated rules to add preview.
  infrastructure/storage-account.tf
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-34

#35 PCQ-653 Update demo from master
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/providers.tf
  infrastructure/storage-account.tf
  infrastructure/variables.tf
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-35

#36 PCQ-653 Remove infrastructure files.
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/outputs.tf
  infrastructure/providers.tf
  infrastructure/state.tf
  infrastructure/storage-account.tf
  infrastructure/variables.tf
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-36

#37 PCQ670 - Invalid Payload moved to Rejected container.
  src/main/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponent.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponentTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-37

#38 PCQ-671: Update to only pull blobs from the root of the container.
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManagerTest.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManager.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManagerTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-38

#40 PCQ_675 - Disability Impact check
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelper.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadValidationHelper.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/config/TestSupportUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/AssertionUtils.java
  src/test/resources/testPayloadFiles/noDisabilityImpactMetaFile.json
  src/test/resources/testPayloadFiles/noDisabilityMetaFile.json
  src/test/resources/testPayloadFiles/notPreferDisabilityImpactMetaFile.json
  src/test/resources/testPayloadFiles/notPreferDisabilityMetaFile.json
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-40

#41 PCQ679 - English Language Level Check
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperIntegTest.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelper.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadValidationHelper.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/config/TestSupportUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/AssertionUtils.java
  src/test/resources/testPayloadFiles/emptyLanguageMetaFile.json
  src/test/resources/testPayloadFiles/emptyMainLanguageMetaFile.json
  src/test/resources/testPayloadFiles/notPreferMainLanguageMetaFile.json
  src/test/resources/testPayloadFiles/otherMainLanguageMetaFile.json
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-41

#42 PCQ-680 - Fixed Dob Provided
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperIntegTest.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelper.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/config/TestSupportUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/AssertionUtils.java
  src/test/resources/testPayloadFiles/invalidDobMetaFile.json
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-42

#43 PCQ-688 - Updated validation for other fields
  src/integrationTest/resources/testPayloadFiles/invalidOtherPayloadMetaFile.json
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadValidationHelper.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/config/TestSupportUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadValidationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/AssertionUtils.java
  src/test/resources/testPayloadFiles/multipleInvalidOtherValuesMetaFile.json
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-43
