Repository hmcts/pcq-loader, pull requests merged in 2020-10, with the labels that each got.

#44 PCQ-697 - Updated springboot to 2.3.4
  build.gradle
  config/owasp/suppressions.xml
  src/.DS_Store
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-44

#45 Pcq 708 nightly pipeline update
  Jenkinsfile_nightly
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-45

#46 PCQ708 - Added security.sh and updated build.gradle
  build.gradle
  security.sh
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-46

#47 PCQ708 - Added SwaggerConfiguration to fix failing security scan
  src/main/java/uk/gov/hmcts/reform/pcqloader/config/SwaggerConfiguration.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-47

#49 PCQ708 - Removed security scan from nightly build
  Jenkinsfile_nightly
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-49

#48 PCQ-690 Improve pcq-loader sonarcloud issues
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManagerTest.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelper.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManager.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/utils/JsonFeignResponseUtil.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponentTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/config/BlobStorageConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/exception/ExternalApiExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadValidationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManagerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/services/impl/PcqBackendServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/JsonFeignResponseUtilTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/PcqLoaderUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/ZipFileUtilsTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-48

#50 PCQ_714 - Caught IllegalArgumentException
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/impl/PcqBackendServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/services/impl/PcqBackendServiceImplTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-50

#51 PCQ_714 - Added check for http status in FeignException
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/impl/PcqBackendServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/services/impl/PcqBackendServiceImplTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-51

#52 Pcq 687 pcq commons change
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pcqloader/config/TestApplicationConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqloader/postdeploy/PcqLoaderMappingFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqloader/postdeploy/PcqLoaderTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/config/TestApplicationConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperIntegTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/util/PcqBackendIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/util/SpringBootIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderApplication.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/config/FeignHeaderConfig.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/controller/feign/PcqBackendFeignClient.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/exceptions/ExternalApiException.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelper.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadValidationHelper.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqAnswerRequest.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqAnswers.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqMetaData.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqPayLoad.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqPayloadContents.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/model/PcqScannableItems.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/PcqBackendService.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/impl/PcqBackendServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/utils/JsonFeignResponseUtil.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/utils/PcqLoaderUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponentTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/exception/ExternalApiExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadValidationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/services/impl/PcqBackendServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/AssertionUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/JsonFeignResponseUtilTest.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/PcqLoaderUtilsTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-52

#53 PCQ_719 - Added DeSerializationFeature on ObjectMapper
  src/integrationTest/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperIntegTest.java
  src/integrationTest/resources/testPayloadFiles/unknownFieldsPayloadMetaFile.json
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelper.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-53

#54 Upgraded tomcat to 9.0.39
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-54
