Repository hmcts/pcq-loader, pull requests merged in 2023-04, with the labels that each got.

#262 PCQ-1645 spring boot upgrade
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelper.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManager.java
  src/test/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelperTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-262

#265 Create telemetryclient bean
  src/main/java/uk/gov/hmcts/reform/pcqloader/utils/AppInsightsConfig.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-265

#266 Add tests.
  src/test/java/uk/gov/hmcts/reform/pcqloader/utils/AppInsightsConfigTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-266

#267 PCQ-1645 Fixing appInsights and suppressing CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-267

#268 Add appinsights lib
  build.gradle
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-268

#269 PCQ-1718 upgrade spring bootFramework
  build.gradle
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-269

#270 Add appinsights configs
  .gitignore
  Dockerfile
  charts/pcq-loader/Chart.yaml
  charts/pcq-loader/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/resources/bootstrap.yaml
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-270

#271 Update appinsights configs
  Dockerfile
  build.gradle
  charts/pcq-loader/Chart.yaml
  charts/pcq-loader/values.yaml
  lib/applicationinsights.json
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-271, keep-helm

#274 Remove unnecessary logs.
  src/main/java/uk/gov/hmcts/reform/pcqloader/PcqLoaderComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/helper/PayloadMappingHelper.java
  src/main/java/uk/gov/hmcts/reform/pcqloader/services/BlobStorageManager.java
Labels: ns:pcq, prd:pcq, rel:pcq-loader-pr-274
